html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0 1.5rem;
}

svg {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

h2 {
  color: rgb(80, 81, 219);
  display: inline-block;
  font-family: PostGrotesk-Light, sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 84px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  width: 100%
}

h3 {
  color: rgb(80, 81, 219);
  display: inline-block;
  font-family: PostGrotesk-Light, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 84px;
  margin-bottom: 0;
  text-align: center;
  width: 100%
}

h4 {
  display: inline-block;
  font-family: PostGrotesk-Light, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 0px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  width: 100%
}

* {
  transition: 1s;
}

.body-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
